@font-face {
    font-family: 'Capture it';
    src: url('fonts/Capture_it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {height:100%; width:100%; margin:0px; padding:0px;}

* { 
  box-sizing: border-box; 
}
html {
  margin: 0;
  background-size: cover;
  background: url("") no-repeat center center fixed;
  background: rgb(0,0,0);
  transition: 3s;
}

.center ul li {
    font-family: "Josefin Sans", Bold;
}

.center h1 {
    color: blue;
}

.center{
	position: absolute;
	width: 42.5%;
	height: 70%;
	left: 46.5%;
	top: 50%;
	margin-top: -18%;
	margin-left: 5%;
	padding: 2%;
	background-color: rgba(0, 0, 0, 0.712);
	color: white;
	font-size: 1.35rem;
	font-family: "Josefin Sans", Bold;
}

.center h2
{
    font-family: Capture it;
    font-size: 40px;
    margin: 0px;
}

div#texttop { 
	color: #fff;
	width: 30%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2rem;
	border: 4px double rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.3);
	font-family: Oxygen, sans-serif;

}

@media all and (max-width: 770px) {
	div#texttop { display: none; }
}

body
{
    margin: 0px;
    padding: 0px;
}

.backdrop
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url(pictures/1.jpg);
    background-size: 100% 100%;
}

.bottom
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#gradient
{
    position: absolute;
    bottom: 0px;
    width: 100%;

    height: 25%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

h1, h2 {
  position: relative;
  background: transparent;
  z-index: 0;
}

/* add a single stroke */
/* If you want a "black" backgroudn of the highlighting then uncomment this!
h1:before, h2:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.1em #424242;
  left: 0;
  z-index: -1;
} 
*/


.letni
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0%;

    z-index: 5;

    color: #fff;

    font-family: "Josefin Sans";
}

.letni img
{
    width: 300px;
    height: auto; /* auto bc we did the widht and our logo is a cuboid = so that the widht is also 300 */
}

.letni p
{
    font-size: 16px;

    margin-left: 3px;

    margin-top: 0px;
}

.letni h2, .letni h3
{
    font-family: Capture it;

    text-transform: uppercase;

    font-size: 50px;

    margin: 0px;

    display: inline-block;
}

.top
{
    color: #4b4a4a;
    letter-spacing: 2.5px;
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

.top h1
{
    font-family: Capture it;
    font-size: 60px;

    margin: 0px;
}

.top h2
{
    font-family: Capture it;
    font-size: 40px;

    margin: 0px;

    color: #ddd;
}

.loadbar
{
    width: 25%;
    background-color: rgba(122, 122, 122, 0.9);
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 20px;
    margin-bottom: 5px;

    overflow: hidden;

    position: relative;

    display: block;
}

.thingy
{
    width: 10%;
    background-color: #eee;
    height: 20px;

    position: absolute;
    left: 10%;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 0;
    padding: 10px;
    color: #ffffff;
}
